<li class="p-1 list-unstyled">
  <%= link_to gravatar_for(user, size: 64), user %>
  <%= link_to "#{user.first_name} #{user.last_name}", user, style: 'font-size: 20px;' %>
  <% if current_user.admin? && !current_user?(user) %>
    <span class="lead">|</span> <%= link_to t('.delete'), user,
                            method: :delete,
                            id: 'user_deletion_link',
                            data: { confirm: "#{t('.delete_user')} \"#{user.first_name} #{user.last_name}\"?" } %>
  <% end %>
</li>
