<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="btn btn-light p-1 m-1">
    <strong id="following" class="stat">
      <%= pluralize @user.following.count, 'followee' %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>" class="btn btn-light p-1 m-1">
    <strong id="followers" class="stat">
      <%= pluralize @user.followers.count, 'follower' %>
    </strong>
  </a>
</div>
