@import 'bootstrap';

.map {
  height: 58vh;
}

@media only screen and (min-height: 900px) {
  .map {
    height: 70vh;
  }
}

.aa_input {
  max-width: 180px;
}

@media only screen and (min-width: 600px) {
  .aa_input {
    max-width: 240px;
  }
}

.pagination_span a {
  padding: 0 5px;
}
