<%= form_with model: @place, id: 'placeUpdate' do |f| %>
  <table>
    <tr><td><input value="TITRRR" type="text" name="title" id="title-conf" placeholder="Title" maxlength = "50" size="40" autofocus=true required=true> </td> </tr>
    <tr><td> <textarea name="description" id="description-conf" placeholder="Description" cols="40" rows="8" maxlength = "300" required> DESCRRR </textarea></td> </tr>
    <tr><td><input type="button" id="btn-upd-conf" value="Update place!" onclick="submitUpdateForm();" /></td></tr>
    <%= hidden_field_tag(:coordinates) %>
  </table>
<% end %>
